// color variables
$backcolor:#acc234;
$fsecondcolor:#34304b;
$primecolor:#ff5912;
$thirdcolor: #feffff;
$white:#fff;
$normalbtn:#c54712;
$hoverbtn:#ab3d0f;
$boxshado:#bbc887;

// font family variable
$arialfonts:Arial, sans-serif;
$regularfont:400;
$mediumfont:500;
$boldfont:700;

